@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(../Assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vertical {
    writing-mode: vertical-lr;
}

.player-button {
    opacity: 1;
    transition: opacity 1s;
}

.player-button.fade {
    opacity: 0;
}