@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(../Assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vertical {
    writing-mode: vertical-lr;
}
